body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#disableInput {
    pointer-events: none;
    user-select: none;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.gameboard-area {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    margin-bottom: 2rem;
}

.row {
    display: flex;
}

.player-square, .firing-square, .square {
    width: 55px;
    height: 55px;
    background-color: lightblue;
    border: solid 1px black;
}

.your-ships, .firing-area {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10;
}

.two,
.three,
.four,
.five {
    display: flex;
}

.ship-piece {
    background-color: gray;
}

.rotated {
    flex-direction: column;
}

.placeable-ships {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
}

.small-ships, .big-ships {
    display: flex;
    gap: 6rem;
    cursor: move;
}

.dragging {
    opacity: .5;
}

.clickable {
    cursor: pointer;
}

#miss {
    background-color: white;
}

#hit {
    background-color: red;
}

.modal {
    padding: 5rem;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.modal h2 {
    font-size: 3rem;
}

.modal p {
    font-size: 1.5rem;
}

.modal button {
    font-size: 1.5rem;
    border-radius: 16px;
    padding: 1rem;
}

#show {
    display: flex;
}